/* Styling for the sidebar */
.sidenav {
  height: 100%;
  width: 0;       /* Closed on loading */
  position: fixed;   /* Never changes position */
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 1;
}

.sidenav .nav-icon-container {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
}

.links {
  padding-top: 100px; /* Adjust this value to increase or decrease spacing */
}

.links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Appearance of Sidenav when opened */
.sidenav.open {
  width: 500px;
  opacity: 0.8;
}

.sidebar-section1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-section1:after{
  content: "";
  display: flex;  
  justify-content: center;
  position: absolute;
  background: white;
  width: 450px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.sidebar-section2{
  display: flex;
  margin-top: 50px;
  margin-left: 22px;
  flex-wrap: wrap;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s;
}

.sidebar-section2 > .test-element-container {
  position: absolute;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Adjust as needed */
  gap: 20px;
}

.sidebar-section2.fade-out{
  opacity: 0;
  pointer-events: none;  /* Display pointer events when it fades out */
}



.sidebar-section2 > div{
  position: absolute;
  width: 100px;
  margin: 10px;
  text-align: center;
}

/* Styling for sidebar links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 460px;
font-size: 36px;
opacity: 1;
transition: opacity 1s; 
pointer-events: none;
}

.sidenav.open .closebtn {
opacity: 1;
pointer-events: auto;
}

/* Styling for the custom menu icon */
.custom-icon {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;
}





.menu-text {
  color: #919191;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  margin-left: 120px;  
  margin-top: 45px;
  float: right;
  transition: opacity 0.5s; /* Add a transition for fading effect */
  opacity: 1; /* Initial opacity */
}

.menu-text:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: 0;
  right: 1px;

  background-color: #919191;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.menu-text.fade-in {
  transition: 3s;
  opacity: 1; /* Opacity when fading in */
}

.menu-text.fade-out {
  opacity: 0; /* Opacity when fading out */
}


#nav-icon {
  left: 20px;
width: 60px;
height: 45px;
position: fixed;
margin: 50px auto;
cursor: pointer;
}

#nav-icon span {
display: block;
position: absolute;
height: 5px;
width: 100%;
background: #919191;
opacity: 1;
left: 0;
transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
top: 0px;
}

#nav-icon span:nth-child(2) {
top: 36px;
}

#nav-icon:hover span:nth-child(1) {
  top: 0px;
  }
  
  #nav-icon:hover span:nth-child(2) {
  top: 36px;
  }
  


#nav-icon.open span:nth-child(1) {
top: 18px;
transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2) {
transform: rotate(-45deg);
top: 18px;
}

/* .nav-icon-container:hover #nav-icon span:nth-child(1){
  top: 9px;
}
.nav-icon-container:hover #nav-icon span:nth-child(2) {
  top: 27px; 
}

.custom-icon:hover #nav-icon span:nth-child(1){
  top: 9px;
}
.custom-icon:hover #nav-icon span:nth-child(2) {
  top: 27px;
} */
